.root{
    -fx-background-image: url("homepage_bg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.button{
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-padding:0;
}
