
.root {
    -fx-background-image: url("gamebackground.jpeg");
    -fx-background-size: 736px 460px;
}
.gameBoard {
    -fx-border-color: linear-gradient(#9A7B4F, #EFDECD);
    -fx-border-width: 12px;
    -fx-border-radius: 5px;
    -fx-background-radius:5px;
    -fx-background-image: url("background_image.png");
    -fx-background-size: 130%;
    -fx-background-color: transparent;

}

.nextBrickLabel,holdBrickLabel {
    -fx-font-family: "Let's go Digital";
    -fx-padding:5 0 0 0;
    -fx-font-weight:bold;
    -fx-font-size: 16px;
    -fx-font-style: italic;
}

.ipad-dark-grey {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
}
.rectangleBorder{
    -fx-border:black;
    -fx-background-color:black;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.gameOverStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48;
    -fx-background-color: red;
}

.scoreClass{
    -fx-font-family: "Let's go Digital";
    -fx-font-size:20px;
    -fx-text-fill: lightyellow;
    -fx-font-weight:bold;
    -fx-font-style:italic;
}